* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "微软雅黑";
}

a {
    color: #000;
}

a:focus, a:hover {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

ol, ul {
    margin: 0;
}

input {
    font-size: 12px;
}

.w10 {
    width: 100%;
}

.w8 {
    width: 80%;
}

.w6 {
    width: 60%;
}

.w5 {
    width: 50%;
}

.w4 {
    width: 40%;
}

.w2 {
    width: 20%;
}

.p0 {
    padding: 0;
}

.pl15 {
    padding-left: 15px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.mr5 {
    margin-right: 5px;
}

.x-main {
    padding: 5px;
    padding-top: 48px;
    background: #e2e2e2;
}

.x-top {
    box-shadow: 0px 1px 2px #3c3c3c;
}

.x-top li {
    text-align: center;
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    background: #fff;
}

.x-top li.x-active {
    background: #ececec;
}

.x-content {
    margin-top: 4px;
    padding: 1px 10px;
    background: #fff;
}

.x-content span {
    font-size: 12px;
}

.vol {
    height: 21px;
    max-width: 35px;
    border-left: 0;
    position: absolute;
    bottom: 0;
}

.x-content .row {
    margin-top: 10px;
    margin-bottom: 40px;
}

.start, .end {
    width: 67%;
}

.wei {
    width: 37%;
}

input[type=radio] {
    vertical-align: text-bottom;
    margin-bottom: 2px;
}

red {
    color: red;
}

.remark input {
    width: 87%;
}

.already {
    display: none;
}
