@charset "UTF-8";
.company-item{
  margin: 10px 10px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.company-item ul li{
  line-height: 20px;
}
.company-item p{
  color:#1475C7;
}
.company-item>p{
  line-height: 25px;
  color: #666;
}
.company-item-title{
  background-color: #eee;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}
.company-info-img{
  margin: 10px 5px;;
}
.company-info-img img{
  width: 251px;
  height: 150px;
}
.company-way{
  background-color: #07963d;
  margin-top: 5px;
}
.company-way span{
  color: #fff;
}
.company-way i{
  color: #F1002C;
  font-style: normal;
  line-height: 30px;
  background: url(../ioc/xianlu.png) center left no-repeat;
  background-color: #fff;
  padding-left: 18px;
}
.company-car-info{
  border-radius: 5px;
  background: url(../ioc/ioc-car.png) 3px center  no-repeat;
  background-color: #07963d;
  color: #fff;
  padding-left: 19px;
  line-height: 25px;
  margin-top: 5px;
}
.bottombox{
  width: 100%;
  height: 50px;
}
