*{
  margin: 0px;
  padding: 0px;
}
.k-bt{
  height: 30px;
  line-height: 30px;
}
.k-bt p{
  display: inline-block;
}
.cont{
  background-color: white;
  padding-top: 25px;
}
.k-del{
  float: right;
}
