*{
  margin: 0px;
  padding: 0px;
}
.kfdh p {
    display: inline-block;
    padding-top: 12px;
    padding-left: 25px;
}
.k-col{
  background-color: white;
  margin-top: 3%;
  height: 40px;
}
.kfdh span {
    color: #b3aeae;
    padding-left: 10px;
}
.kfdh{
  background: url(../img/kfdh.png) no-repeat;
  background-color: white;
}
.kfdh img {
    float: right;
    padding-top: 5px;
}
.cz{
  background: url(../img/cz.png) no-repeat;
  background-color: white;
}
.cz p{
  display: inline-block;
  padding-top: 10px;
  padding-left: 30px;
  letter-spacing: 8px;
}
.cz span{
  color: #b3aeae;
  padding-left: 5px;
}
.yx{
  background: url(../img/yx.png) no-repeat;
  background-color: white;
}
.yx p{
  display: inline-block;
  padding-top: 10px;
  padding-left: 30px;
  letter-spacing: 8px;
}
.yx span{
  color: #b3aeae;
  padding-left: 5px;
}
.zxkf{
  background: url(../img/zxkf.png) no-repeat;
  background-color: white;
}
.zxkf p{
  display: inline-block;
  padding-top: 10px;
  padding-left: 30px;
}
.zxkf img{
  float: right;
  padding-top: 3px;
}
.lxdz{
  background: url(../img/lxdz.png) no-repeat;
  background-color: white;
}
.lxdz p{
  display: inline-block;
  padding-top: 10px;
  padding-left: 30px;
}
.lxdz span{
  color: #b3aeae;
  padding-left: 5px;
}
.yjfk{
  background: url(../img/yjfk.png) no-repeat;
  background-color: white;
}
.yjfk p{
  display: inline-block;
  padding-top: 10px;
  padding-left: 30px;
}
.yjfk span{
  float: right;
  padding-top: 10px;
  color: black;
}
