.head{
  height: 55px;
  width: 100%;
  background:#e73030;
  position: relative;
}
.l-off{
  position: absolute;
  margin-top: -45px;
}
.head p{
  color: #fff;
  line-height: 45px;
  width: 80px;
  text-align: center;
}
.head p:first-child{
  font-size: 20px;
}
.head-sy{
  margin: 0 auto;
}
.glyphicon{
 left: 15px;
 font-size: 23px;
 line-height: 2;
}
.nav-tabs li:nth-child(1){
  font-size: 20px;
}
.nav-tabs li:nth-child(2){
  font-size: 20px;
}
.nav-tabs li:nth-child(3){
  font-size: 20px;
}
.nav-tabs li:nth-child(4){
  font-size: 20px;
}
.nav-tabs>li>a{
  border-radius:initial;
  border: none;
  color:black;
}
.nav-tabs>li>a:hover{
  background-color: #ddd;
  border-radius:initial;
  border: none;
}
.nav-tabs>li>a:after{
  background-color: #ddd;
}
.l-nav{
  text-align: center;
}
.l-nav ul{
  display:inline-block;
  width: 100%;
}
.l-nav ul li{
  display:inline-block;
  width: 25%;
}
.l-ge{
  text-align: center;
  height: 160px;
  border-bottom: 1px solid #ddd;
}
.tab-content .l-ge:nth-child(1){
  border-right: 1px solid #ddd;
}
.tab-content .l-ge:nth-child(3){
  border-right: 1px solid #ddd;
}
.l-ge div{
  margin-top: 50px;
}
.l-ge p{
  color: #afafaf;
}
.row{
  margin-right: 0px;
}
.l-content{
  height: 1100px;
}
/*模版*/
body{font-family: "微软雅黑";}
	/*头部*/
	/*中间内容*/
	.body{width: 100%;padding-top: 45px;margin-bottom: 45px;background: #D5D5D5;height: 1000px;}

	/*底部导航*/
	.footer{height: 45px;width: 100%;background:#fff;position: fixed;bottom: 0px;}
	.footmum{height:45px;width: 25%;float: left;text-align: center;font-size: 10px}
	.footmum p{color: black}
	.dqhy-ioc{background:url(../ioc/index-img.png); height: 44px;width: 48px;background-position: 0 -320px;margin-top: 7px;display: block;}
	.dqyl-ioc{background:url(../ioc/index-img.png); height: 44px;width: 48px;background-position: 0 -496px;margin-top: 7px;display: block;}
	.dqcc-ioc{background:url(../ioc/index-img.png); height: 44px;width: 48px;background-position: 0 -452px;margin-top: 7px;display: block;}
	.dqwl-ioc{background:url(../ioc/index-img.png); height: 44px;width: 48px;background-position: 0 -364px;margin-top: 7px;display: block;}
	.dqqy-ioc{background:url(../ioc/index-img.png); height: 44px;width: 48px;background-position: 0 -408px;margin-top: 7px;display: block;}
	.dqcyr-ioc{background:url(../ioc/index-img.png); height: 44px;width: 48px;background-position: 0 -280px;margin-top: 7px;display: block;}
