@charset "UTF-8";
*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.body{
  background-color: #eee;
}
.m-my-title{
  font-size: 16px;
  height: 85px;
  padding: 12px;
  background-color: #fff;
}
.m-my-title .m-headPortrait{
  float: left;
  width: 60px;
  height: 60px;
  border: 1px solid #bc5252;
  border-radius: 50%;
  overflow: hidden;
}
.m-my-title .m-headPortrait img{
  width: 60px;
  height: 60px;
}
.m-my-title .m-my-info{
  float: left;
  font-family: "微软雅黑";
  font-weight: 600;
  /*font: 12px Arial, STHeiti, 宋体, 'WenQuanYi Micro Hei', sans-serif;*/
}
.m-my-title .m-my-info .m-my-info-user{
  float: left;
  width: 100%
}
.m-my-info{
  padding-top: 9px;
  padding-left: 25px;
}
.m-my-info div span,.m-my-info div p{
  float: left;
  margin-bottom: 5px;
}
.m-my-title .m-my-info .m-my-info-integral{
  float: left;
  width: 100%;
}
.m-main-list{
  margin-top: 20px;
}
.m-main-list ul li{
  position: relative;
  border-bottom: 2px solid #eee;
}
/*.m-main-list ul :last-child{
  border-bottom: 0px;
}*/
.m-main-list a{
  padding-left: 60px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  line-height: 55px;
  background: gold;
  background: url(../img/m-item1.png) no-repeat;
  background-position: 10px 10px;
  background-color: #fff;
}
.m-main-list ul li .grzl{
  background: url(../img/m-item1.png) no-repeat;
  background-position: 10px 10px;
  background-color: #fff;
}
.m-main-list ul li .wdjf{
  background: url(../img/m-item2.png) no-repeat;
  background-position: 10px 10px;
  background-color: #fff;
}
.m-main-list ul li .wddz{
  background: url(../img/m-item3.png) no-repeat;
  background-position: 10px 10px;
  background-color: #fff;
}
.m-main-list ul li .wdpj{
  background: url(../img/m-item4.png) no-repeat;
  background-position: 10px 10px;
  background-color: #fff;
}
.m-main-list ul li .kfrx{
  background: url(../img/m-item5.png) no-repeat;
  background-position: 10px 10px;
  background-color: #fff;
}
.m-main-list ul li .xx{
  background: url(../img/m-item6.png) no-repeat;
  background-position: 10px 10px;
  background-color: #fff;
}
.m-main-list ul li .sz{
  background: url(../img/m-item7.png) no-repeat;
  background-position: 10px 10px;
  background-color: #fff;
}
.m-main-list a{
  display: block;
}
.m-main-list a span{
  display: inline-block;
  vertical-align: middle;
}
.arrow{
  position: absolute;
  top: 19px;
  right: 0;
  float: right;
  width: 14px;
  height: 20px;
  background: url(../img/mjd.png) no-repeat;
  background-position: 0px -20px;
  background-size: 200px 200px;
}
.l-hang{
  background-color: #fff;
}
.l-hang div{
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  font-size:17px;
}
.l-hang p{
  display: inline-block;
  margin-left: 5%;
}
.l-hang div span{
  color: #979595;
  display: inline-block;
  float: right;
  margin-right: 5%;
  font-size: 16px;
}
.l-tou{
  background-color: #8f000b;
  padding: 20px 0 35px 0;
}
.l-tou img{
  width: 100%;
}
.l-tou p{
  color: #fff;
  text-align: center;
}
